.menu
    .menu-links
        a.menu-links__link(href="#" id="menu-links__link") ОФД
        a.menu-links__link(href="#" id="menu-links__link") Электронная подпись
        a.menu-links__link(href="#" id="menu-links__link") Кассовое оборудование
        a.menu-links__link(href="#" id="menu-links__link") База знаний
        a.menu-links__link(href="#" id="menu-links__link") Компания
        a.menu-links__link(href="#" id="menu-links__link") Для ЦТО
        a.menu-links__link(href="#" id="menu-links__link") Контакты
    .menu-footer
        +Only('menu-footer__item')
        .menu-footer__item © пионер инжиниринг. 2017
.windows-menu
    .windows-menu__window
    .windows-menu__window