.menu
    .menu__links
        a.menu__link(href="#" id="menu__link") ОФД
        a.menu__link(href="#" id="menu__link") Электронная подпись
        a.menu__link(href="#" id="menu__link") Кассовое оборудование
        a.menu__link(href="#" id="menu__link") База знаний
        a.menu__link(href="#" id="menu__link") Компания
        a.menu__link(href="#" id="menu__link") Для ЦТО
        a.menu__link(href="#" id="menu__link") Контакты
    .menu-footer
        +Only('menu-footer__item')
        .menu-footer__item © пионер инжиниринг. 2017
.window-menu
    .window-menu__item
    .window-menu__item