/* .conteiner {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    width: 50vw;
    height: 50vh;
    background-color: rgba(108, 108, 138, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
} 


h1 {
    font-size: 130px;
} */