extends ../../layout/layout.pug
include ../../components/arrow-link/arrow-link.pug
include ../../components/button/button.pug

block content

    .annotation
        img(src="./image/Layer42.png", alt="").annotation__background-img
        img(src="./image/Layer3.png", alt="").annotation__background-img
        img(src="./image/Layer43.png", alt="").annotation__background-img
        .annotation-text
            .annotation-text__text-conpany пионер инжиниринг
            .annotation-text__header
                .annotation-text__header-line(class = "first-line") Ваш надежный партнёр
                .annotation-text__header-line(class = "second-line") в торговле 
        .services
            .services-item 
                .services-item__text Оператор фиксированных данных
            .services-item 
                .services-item__text Электронная цифровая подпись
            .services-item 
                .services-item__text Кассовое оборудование 
            .services-item 
                .services-item__text Сервис

    .FDP-pioner-wrapper

        .FDP-conteiner
            .FDP-pioner(data-anima="1")
                .FDP-pioner__text-conpany ОФД пионер
                .FDP-pioner__header Подключитесь к ОФД
                .FDP-pioner__text 
                    | <span>Сервис ОФД Пионер - это гарантия надежности, современнности и безупречного сервиса.</span>  
                    | Мы берем на себя все организационные вопросы по подключению и дальнейшему 
                    | взаимодействию.

        .three-actions(data-anima="2")
            .header-wrapper
                .block-header Вам нужно выполнить только три простых шага
            .actions
                .action
                    .action__number 01
                    .action__text 
                        | <span>Зарегестрируйтесь</span><br>
                        | в личном кбинете
                    .action__first-line
                    .action__second-line    
                .action
                    .action__number 02
                    .action__text 
                        | <span>Заключите договор</span><br>
                        | с ОФД Пионер
                    .action__first-line
                    .action__second-line      
                .action
                    .action__number 03
                    .action__text 
                        | <span>Используйте</span><br>
                        | новые возможности
                    .action__first-line
                    .action__second-line
            .footer-wrapper     
                .footer-actions           
                    +button('three-actions-button', 'Подключить')
                    .footer-actions__text
                        | Стоимость в год за 1 кассу <br> <span>3000 руб.</span>
        
        .business-development-conteiner(data-anima="3")
            .business-development
                .business-development-top
                    .block-header Развивайте бизнес
                    .business-development-top__text С новыми online-возможностями ОФД
                .business-development-cards
                    .card
                        .card__text Пердача электронной отчетности в ФНС
                        .card__bottom
                            +arrow-link('card-link', 'Подробнее', '#')
                            .card-img
                                img(src="./icons/Shape1.png", alt="")
                    .card
                        .card__text Регистрация кассовых аппаратов
                        .card__bottom
                            +arrow-link('card-link', 'Подробнее', '#')  
                            .card-img
                                img(src="./icons/Shape2.png", alt="")   
                    .card
                        .card__text Аналитика торговых точек
                        .card__bottom
                            +arrow-link('card-link', 'Подробнее', '#')
                            .card-img
                                img(src="./icons/Shape3.png", alt="")
                
        .information-conteiner
            .information(data-anima="1")
                .block-header(class = "information__header") Квалифицированная электронная подпись
                .information__general-position
                    .information__text
                        | <span>Пионер является сертифицированным удостоверяющим центром</span>
                        | У нас вы можете приобрести КЭП для ФНС и ОФД,
                        | а также электронную подпись любого назначения
                    +button('information-button', 'Купить КЭП')

    .equipment(data-anima="4")
        img(src="./image/equipment.png", alt="", class="equipment__img")
        .equipment__information
            .top-text кaссовое оборудование 
            .equipment__header Замените классы на новые
            .pioner-is 
                .pioner-is__header Пионер 114Ф - мобильная и простая в использовании онлайн-касса
                .pioner-is__items 
                    .pioner-is-item
                        .pioner-is-item__conteiner-img
                            img(src="./image/briefcase.png", alt="", class='pioner-is-item__img')
                        .pioner-is-item__text Идеальное решение для разъездной торговли
                    .pioner-is-item
                        .pioner-is-item__conteiner-img
                            img(src="./image/flag.png", alt="", class='pioner-is-item__img')
                        .pioner-is-item__text Первая онлайн-касса с сенсорным дисплеем
                    .pioner-is-item
                        .pioner-is-item__conteiner-img
                            img(src="./image/thumbs-up.png", alt="", class='pioner-is-item__img')
                        .pioner-is-item__text Собственное ПО, совместимость со всеми популярными программами 
                .pioner-is__line
            .footer-equipment
                +button('footer-equipment__button', 'купить кассу')
                .footer-equipment__text
                    | Стоимость <br> <span>19 000 руб.</span>
            .equipment__bottom-text
                | У нас вы также можете приобрести <br>
                | другие виды <a href='#'>кассового оборудования<a>