@import "../../components/header/header.scss";
@import "../../components/window-menu/window-menu.scss";
@import "../../components/arrow-link/arrow-link.scss";
@import "../../components/footer/footer.scss";



.annotation {
    height: floatingSize(1080, vw);
    position: relative;
    padding-top: floatingSize(280, vw);
    overflow: hidden;

    .annotation__background-img {
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        opacity: 0;
        transform: matrix(1, 0, 0, 1, 0, 0);
        transition: opacity 2s ease-in-out, transform 10s linear;
        object-fit: cover;
    }


    .annotation__background-img-active-transmorm {
        transform: matrix(1.1, 0, 0, 1.1, 0, 0)
    }

    .annotation__background-img-active-opasity {
        opacity: 1;
    }

    .annotation-text {
        margin-left: floatingSize(480, vw);
        color: $color-white;

        .annotation-text__text-conpany {
            font-family: 'ProximaNova';
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 125%;
            margin-bottom: floatingSize(45, vw);
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }

        .annotation-text__header {
            font-family: 'ProximaNova';
            @include fluidFontSize(40px, 80px, 480, 1920);
            font-weight: 800;
            overflow: hidden;

            .annotation-text__header-line {
                transform: translateX(-100%);
                transition: transform 1.5s ease-in-out;
            }

            .annotation-text__header-line-active {
                animation: animaTextHeader 1.8s ease-in-out;
                animation-fill-mode: forwards;
            }
        }
    }
}

@keyframes animaTextHeader {
    0% {
        transform: translateX(-100%);
    }

    70% {
        transform: translateX(5%);
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width: 910px) {

    .annotation {
        padding-top: floatingSize(350, vw);
        .annotation-text {
            margin-left: floatingSize(400, vw);

            .annotation-text__text-conpany {
                font-size: 8px;
                margin-bottom: floatingSize(25, vw);
            }

            .annotation-text__header {
                @include fluidFontSize(35px, 60px, 480, 1920);
            }

        }        
    }
}

@media (max-width: 510px) {
    .annotation {
        height: 100vh;
        padding-top: 25vh;
        .annotation__background-img {
            // width: 100vw;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            // left: 0;
            // right: 0;
            z-index: -1;
        }

    }

}






.discription {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @include fluidFontSize(12px, 18px, 480, 1920);
    padding: 0 5em;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transform: translateY(-10%);
    transition: all 1s ease-in-out;

    .discription__item {
        color: $color-white;
        font-family: 'ProximaNova';
        font-weight: 700;
        position: relative;
        padding: floatingSize(40, vw) 0 floatingSize(215, vw); 
        cursor: pointer;
        flex-shrink: 1;  
    }

    .discription__item:not(:last-child) {
        flex-grow: 6;
    }

    .discription__item:last-child {
        flex-grow: 4;
    }

    .discription__text::before {
        content: '';
        position: absolute;
        width: floatingSize(80, vw);
        height: 2px;
        background: $color-white;
        top: 0;
        transition: all 0.5s ease-in-out;
    }
}

.discription-active {
    opacity: 1;
    transform: translateY(0);
}

.discription__item:hover {
        
    .discription__text::before {
        width: 80%;
    }
}




@media (max-width: 910px) {

    .discription {
        flex-wrap: wrap;
        justify-content: space-between;

        .discription__item {
            flex-basis: 50%;
            padding: floatingSize(40, vw) 0 floatingSize(40, vw); 
            text-align: center;
        }

        .discription__text::before {
            height: 0;
            width: 0;
        }
        
    }
}


@media (max-width: 510px) {
    .discription {
        flex-wrap: wrap;
        padding: 0;

        .discription__item {
            flex-basis: 100%;
            padding: floatingSize(40, vw) 0 floatingSize(40, vw); 
            text-align: center;
        }

        .discription__text::before {
            height: 2px;
            width: 100%;
            left: 0;
        }
        
    }

}









// Блок FDP

.FDP-pioner-wrapper {
    background: $color-5;   
}

.FDP-conteiner {
    padding: floatingSize(70, vw) floatingSize(160, vw);
    overflow: hidden;
}

.FDP-pioner {
    min-height: floatingSize(400, vw);
    padding: floatingSize(70, vw) floatingSize(320, vw) floatingSize(110, vw);
    font-family: 'ProximaNova';
    color: $color-black;
    background: $color-white;
    transition: opacity 3s ease-in-out, transform 3s ease-in-out;

    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 144.73);

    .FDP-pioner__text-conpany {
        font-size: 12px;
        font-weight: 700;
        color: $color-4;
        text-transform: uppercase;
        line-height: 115%;
        margin-bottom: 20px;
    }

    .FDP-pioner__header {
        @include fluidFontSize(35px, 60px, 480, 1920);
        font-weight: 800;
        line-height: 115%;
        margin-bottom: 20px;
    }

    .FDP-pioner__text  {
        font-family: 'HouschkaPro';
        font-weight: 300;
        @include fluidFontSize(18px, 22px, 480, 1920);
        line-height: 115%;
        color: $color-6;
    }
}





.FDP-pioner-active {
    animation: FDPpionerAnima 1.8s ease-in-out;
    animation-fill-mode: forwards;
} 

@keyframes FDPpionerAnima {
    0% {
        opacity: 0;
        transform: matrix(1, 0, 0, 1, 0, 144.73);
    }

    70% {  
        transform: matrix(1, 0, 0, 1, 0, -30);
    }

    100% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}




// Блок three-actions

.block-header {
    font-family: 'ProximaNova';
    font-weight: 800;
    @include fluidFontSize(22px, 28px, 480, 1920);
    color: $color-black;
    line-height: 115%;
}

.three-actions {
    padding: 0 floatingSize(320, vw);
    margin-bottom: floatingSize(120, vw);

    .block-header {
        padding: floatingSize(48, vw) 0 floatingSize(48, vw) floatingSize(160, vw);
    }
}


.three-actions__actions {
    display: flex;

    .action-conteiner {
        position: relative;
        width: floatingSize(400, vw);
        height: floatingSize(320, vw);
        border: 2px solid $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .action-conteiner:nth-child(2) {
        margin: 0 40px;
    }


    .action {
        display: inline-block;
        font-family: 'ProximaNova';
        font-weight: 800;
        @include fluidFontSize(200px, 250px, 480, 1920);
        color: $color-white;
    }

    .action__text {
        text-align: center;
        position: absolute;
        color: $color-6;
        font-weight: 300;
        @include fluidFontSize(18px, 28px, 480, 1920);

        span {
            font-weight: 800;
        }
    }
}


.three-actions-footer {
    display: flex;
    padding-left: floatingSize(160, vw);
    margin-top: floatingSize(60, vw);

    button.three-actions-button {
        font-size: 12px;
        width: 13.33em;
        height: 4.67em;
        background: $color-3;
        color: $color-white;
        text-transform: uppercase;
        appearance: none;
        border: 0;
        border-radius: 0;
        cursor: pointer;
        font-family: 'ProximaNova';
        font-weight: 300;
    }

    .three-actions-footer__text {
        margin-left: 30px;
        font-family: 'HouschkaPro';
        font-weight: 300;
        color: $color-6;
        line-height: 150%;

        span {
            font-family: 'ProximaNova';
            font-weight: 700;
            @include fluidFontSize(22px, 28px, 480, 1920);
            
        }
        
    }
}




// Блок business-development

.business-development-conteiner {
    display: flex;
    justify-content: center;
}

.business-development {
    
    .business-development__top {
        display: flex;
        align-items: flex-end;
        margin-bottom: floatingSize(60, vw);

        .block-header {
            margin-right: floatingSize(110, vw);
        }

        .business-development__text {
            font-family: 'HouschkaPro';
            font-weight: 600;
            color: $color-6;
            @include fluidFontSize(18px, 22px, 480, 1920);
        }
    }
}

.business-development__cards {
    display: flex;

    .card:nth-child(2) {
        margin: 0 24px;
    }
}

.card {
    width: floatingSize(350, vw);
    height: floatingSize(320, vw);
    background: $color-4;
    padding: floatingSize(32, vw) floatingSize(38, vw);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card__text {
        font-family: 'ProximaNova';
        @include fluidFontSize(14px, 18px, 480, 1920);
        color: $color-white;
        line-height: 115%;
    }

    .card__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @include colorArrowLink($color-white);
        @include animaArrowLink($color-white);
    }
}


// Блок Information

.information-conteiner {
    padding: floatingSize(120, vw) floatingSize(320, vw);
}

.information {
    padding: floatingSize(70, vw) floatingSize(160, vw) floatingSize(100, vw);
    background: $color-white;
    display: flex;

    .information__header {
        margin-right: 70px;
        min-width: floatingSize(320, vw);
    }

    .information__text {
        @include fluidFontSize(16px, 22px, 480, 1920);
        font-family: 'HouschkaPro';
        font-weight: 300;
        color: $color-6;
        margin-bottom: 40px;
        span {  
            font-weight: 700;
        }
    }

    .three-actions-button {
        font-size: 12px;
        width: 11.666em;
        height: 4.67em;
        color: $color-black;
        background: $color-white;
        text-transform: uppercase;
        appearance: none;
        border: 1px solid $color-black;
        border-radius: 0;
        cursor: pointer;
        font-family: 'ProximaNova';
        font-weight: 300;
    }
}