extends ../../layout/layout.pug

block content

    .annotation
        img(src="./image/Layer42.png", alt="").annotation__background-img
        img(src="./image/Layer3.png", alt="").annotation__background-img
        img(src="./image/Layer43.png", alt="").annotation__background-img
        .annotation-text
            .annotation-text__text-conpany пионер инжиниринг
            .annotation-text__header
                .annotation-text__header-line(class = "first-line") Ваш надежный партнёр
                .annotation-text__header-line(class = "second-line") в торговле 
        .discription
            .discription__item 
                .discription__text Оператор фиксированных данных
            .discription__item 
                .discription__text Электронная цифровая подпись
            .discription__item 
                .discription__text Кассовое оборудование 
            .discription__item 
                .discription__text Сервис

    .FDP-pioner-wrapper
        .FDP-conteiner
            .FDP-pioner(data-anima="1")
                .FDP-pioner__text-conpany ОФД пионер
                .FDP-pioner__header Подключитесь к ОФД
                .FDP-pioner__text 
                    | Сервис ОФД Пионер - это гарантия надежности, современнности и безупречного сервиса.  
                    | Мы берем на себя все организационные вопросы по подключению и дальнейшему 
                    | взаимодействию.
           

