@import "../../../node_modules/normalize.css/normalize.css";
@import "../../layout/layout.scss";
@import "../css/common.css";

@import "./colors.scss";
@import "./fonts.scss";
@import "./functions.scss";
@import "./mixin.scss";
@import "./variables.scss";
@import "./utils.scss";


@import "../../pages/index/index.scss";



.only-digital {
    text-transform: uppercase;      
    text-decoration: none;
    transition: color 0.35s ease-in-out;
    @include fluidFontSize(10px, 12px, 480, 1920);
    font-family: "ProximaNova";
    font-weight: 300;
    color: $color-4;
}

.only-digital:hover {
    color: $color-4;
}

.block-header {
    font-family: 'ProximaNova';
    font-weight: 800;
    @include fluidFontSize(22px, 28px, 480, 1920);
    color: $color-black;
    line-height: 115%;
}