
// Плавающий размер шрифта. Зависимость от ширины области просмотра.

@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false) {
    
  font-size: calcFontSize($f-min, $f-max, $w-min, $w-max, px);

  @media (min-width: $w-max + px) {
    font-size: $f-max;
  }

}


// Миксин задаёт цвет ссылки-стрелки 

@mixin colorArrowLink($color) {
    .arrow-link__arrow {
      background: $color;
    }

    .arrow-link__arrow::after,
    .arrow-link__arrow::before {
      background: $color;
    }
}


