/* .conteiner {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    width: 50vw;
    height: 50vh;
    background-color: rgba(108, 108, 138, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
} 


h1 {
    font-size: 130px;
} */
@font-face {
  font-family: 'ProximaNova';
  src: url(../bild/fonts/ProximaNova-Light.eot) format("eot"), url(../bild/fonts/ProximaNova-Light.woff) format("woff"), url(../bild/fonts/ProximaNova-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url(../bild/fonts/ProximaNova-Regular.eot) format("eot"), url(../bild/fonts/ProximaNova-Regular.woff) format("woff"), url(../bild/fonts/ProximaNova-Regular.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url(../bild/fonts/ProximaNova-Bold.eot) format("eot"), url(../bild/fonts/ProximaNova-Bold.woff) format("woff"), url(../bild/fonts/ProximaNova-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url(../bild/fonts/ProximaNova-Extrabld.eot) format("eot"), url(../bild/fonts/ProximaNova-Extrabld.woff) format("woff"), url(../bild/fonts/ProximaNova-Extrabld.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'HouschkaPro';
  src: url(../bild/fonts/HouschkaPro-Light.eot) format("eot"), url(../bild/fonts/HouschkaPro-Light.woff) format("woff"), url(../bild/fonts/HouschkaPro-Light.ttf) format("truetype"), url(../bild/fonts/HouschkaPro-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'HouschkaPro';
  src: url(../bild/fonts/HouschkaPro-DemiBold.eot) format("eot"), url(../bild/fonts/HouschkaPro-DemiBold.woff) format("woff"), url(../bild/fonts/HouschkaPro-DemiBold.ttf) format("truetype"), url(../bild/fonts/HouschkaPro-DemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal; }

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 120px;
  position: fixed;
  opacity: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  z-index: 300; }

.logo-conteiner {
  margin-left: 12.29167vw;
  margin-right: auto; }

@media (max-width: 670px) {
  .logo-conteiner {
    margin-left: 0; } }

.logo {
  width: 240px;
  height: 120px;
  background: #33323b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2.60417vw;
  position: relative;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  visibility: hidden;
  opacity: 0; }

.header-link__text {
  text-decoration: none;
  font-size: calc( 0.00139 * 100vw + 15.33333px);
  color: #ffffff;
  font-family: "ProximaNova";
  font-weight: 700; }
  @media (min-width: 1920px) {
    .header-link__text {
      font-size: 18px; } }

.header-link__text::before {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  bottom: 40%;
  left: 0;
  -webkit-transition: width 0.4s cubic-bezier(0.49, 0.79, 0.54, 0.86);
  -o-transition: width 0.4s cubic-bezier(0.49, 0.79, 0.54, 0.86);
  transition: width 0.4s cubic-bezier(0.49, 0.79, 0.54, 0.86); }

.header-link__text::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  bottom: 40%;
  right: 0;
  -webkit-transition: width 0.4s cubic-bezier(0.49, 0.79, 0.54, 0.86);
  -o-transition: width 0.4s cubic-bezier(0.49, 0.79, 0.54, 0.86);
  transition: width 0.4s cubic-bezier(0.49, 0.79, 0.54, 0.86); }

.header-link:hover
.header-link__text::before {
  width: 100px; }

.header-link:hover
.header-link__text::after {
  width: 100px; }

.header-link__active {
  visibility: visible;
  opacity: 1; }

.burger-bottom {
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 0;
  cursor: pointer; }

.burger-bottom:focus {
  outline: none; }

.burger {
  width: 32px;
  height: 24px;
  position: relative; }
  .burger .burger__line {
    display: block;
    position: absolute;
    width: 32px;
    height: 2px;
    background: #ffffff;
    -webkit-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out; }
  .burger .burger__line:nth-child(1) {
    top: 0; }
  .burger .burger__line:nth-child(2) {
    top: 50%;
    opacity: 1;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out; }
  .burger .burger__line:nth-child(3) {
    top: 100%; }

.burger-bottom:hover .burger__line:nth-child(1) {
  top: 50%; }

.burger-bottom:hover .burger__line:nth-child(2) {
  opacity: 0; }

.burger-bottom:hover .burger__line:nth-child(3) {
  top: 50%; }

.burger_active .burger__line:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%; }

.burger_active .burger__line:nth-child(2) {
  display: none; }

.burger_active .burger__line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%; }

.menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  z-index: 200; }

.menu__links {
  position: absolute;
  top: 25vh;
  left: 25vw;
  z-index: 100;
  visibility: hidden;
  -webkit-transition: visibility 2s ease-in-out;
  -o-transition: visibility 2s ease-in-out;
  transition: visibility 2s ease-in-out; }
  .menu__links .menu__link {
    text-decoration: none;
    font-size: calc( 0.01736 * 100vw + 26.66667px);
    line-height: 123%;
    color: #ffffff;
    font-family: "ProximaNova";
    font-weight: 700;
    display: block; }
    @media (min-width: 1920px) {
      .menu__links .menu__link {
        font-size: 60px; } }
  .menu__links .menu__link:nth-child(1) {
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    -webkit-transition: color 0.25s ease-in-out, opacity 0.5s ease-in-out 0.3s, -webkit-transform 0.4s ease-in-out 0.15s;
    transition: color 0.25s ease-in-out, opacity 0.5s ease-in-out 0.3s, -webkit-transform 0.4s ease-in-out 0.15s;
    -o-transition: color 0.25s ease-in-out, transform 0.4s ease-in-out 0.15s, opacity 0.5s ease-in-out 0.3s;
    transition: color 0.25s ease-in-out, transform 0.4s ease-in-out 0.15s, opacity 0.5s ease-in-out 0.3s;
    transition: color 0.25s ease-in-out, transform 0.4s ease-in-out 0.15s, opacity 0.5s ease-in-out 0.3s, -webkit-transform 0.4s ease-in-out 0.15s;
    opacity: 0; }
  .menu__links .menu__link:nth-child(2) {
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    -webkit-transition: color 0.25s ease-in-out, opacity 0.5s ease-in-out 0.45s, -webkit-transform 0.45s ease-in-out 0.3s;
    transition: color 0.25s ease-in-out, opacity 0.5s ease-in-out 0.45s, -webkit-transform 0.45s ease-in-out 0.3s;
    -o-transition: color 0.25s ease-in-out, transform 0.45s ease-in-out 0.3s, opacity 0.5s ease-in-out 0.45s;
    transition: color 0.25s ease-in-out, transform 0.45s ease-in-out 0.3s, opacity 0.5s ease-in-out 0.45s;
    transition: color 0.25s ease-in-out, transform 0.45s ease-in-out 0.3s, opacity 0.5s ease-in-out 0.45s, -webkit-transform 0.45s ease-in-out 0.3s;
    opacity: 0; }
  .menu__links .menu__link:nth-child(3) {
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    -webkit-transition: color 0.25s ease-in-out, opacity 0.5s ease-in-out 0.6s, -webkit-transform 0.5s ease-in-out 0.45s;
    transition: color 0.25s ease-in-out, opacity 0.5s ease-in-out 0.6s, -webkit-transform 0.5s ease-in-out 0.45s;
    -o-transition: color 0.25s ease-in-out, transform 0.5s ease-in-out 0.45s, opacity 0.5s ease-in-out 0.6s;
    transition: color 0.25s ease-in-out, transform 0.5s ease-in-out 0.45s, opacity 0.5s ease-in-out 0.6s;
    transition: color 0.25s ease-in-out, transform 0.5s ease-in-out 0.45s, opacity 0.5s ease-in-out 0.6s, -webkit-transform 0.5s ease-in-out 0.45s;
    opacity: 0; }
  .menu__links .menu__link:nth-child(4) {
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    -webkit-transition: color 0.25s ease-in-out, opacity 0.5s ease-in-out 0.75s, -webkit-transform 0.57s ease-in-out 0.6s;
    transition: color 0.25s ease-in-out, opacity 0.5s ease-in-out 0.75s, -webkit-transform 0.57s ease-in-out 0.6s;
    -o-transition: color 0.25s ease-in-out, transform 0.57s ease-in-out 0.6s, opacity 0.5s ease-in-out 0.75s;
    transition: color 0.25s ease-in-out, transform 0.57s ease-in-out 0.6s, opacity 0.5s ease-in-out 0.75s;
    transition: color 0.25s ease-in-out, transform 0.57s ease-in-out 0.6s, opacity 0.5s ease-in-out 0.75s, -webkit-transform 0.57s ease-in-out 0.6s;
    opacity: 0; }
  .menu__links .menu__link:nth-child(5) {
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    -webkit-transition: color 0.25s ease-in-out, opacity 0.55s ease-in-out 0.9s, -webkit-transform 0.65s ease-in-out 0.75s;
    transition: color 0.25s ease-in-out, opacity 0.55s ease-in-out 0.9s, -webkit-transform 0.65s ease-in-out 0.75s;
    -o-transition: color 0.25s ease-in-out, transform 0.65s ease-in-out 0.75s, opacity 0.55s ease-in-out 0.9s;
    transition: color 0.25s ease-in-out, transform 0.65s ease-in-out 0.75s, opacity 0.55s ease-in-out 0.9s;
    transition: color 0.25s ease-in-out, transform 0.65s ease-in-out 0.75s, opacity 0.55s ease-in-out 0.9s, -webkit-transform 0.65s ease-in-out 0.75s;
    opacity: 0; }
  .menu__links .menu__link:nth-child(6) {
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    -webkit-transition: color 0.25s ease-in-out, opacity 0.6s ease-in-out 1.05s, -webkit-transform 0.75s ease-in-out 0.9s;
    transition: color 0.25s ease-in-out, opacity 0.6s ease-in-out 1.05s, -webkit-transform 0.75s ease-in-out 0.9s;
    -o-transition: color 0.25s ease-in-out, transform 0.75s ease-in-out 0.9s, opacity 0.6s ease-in-out 1.05s;
    transition: color 0.25s ease-in-out, transform 0.75s ease-in-out 0.9s, opacity 0.6s ease-in-out 1.05s;
    transition: color 0.25s ease-in-out, transform 0.75s ease-in-out 0.9s, opacity 0.6s ease-in-out 1.05s, -webkit-transform 0.75s ease-in-out 0.9s;
    opacity: 0; }
  .menu__links .menu__link:nth-child(7) {
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    -webkit-transition: color 0.25s ease-in-out, opacity 0.7s ease-in-out 1.2s, -webkit-transform 0.85s ease-in-out 1.05s;
    transition: color 0.25s ease-in-out, opacity 0.7s ease-in-out 1.2s, -webkit-transform 0.85s ease-in-out 1.05s;
    -o-transition: color 0.25s ease-in-out, transform 0.85s ease-in-out 1.05s, opacity 0.7s ease-in-out 1.2s;
    transition: color 0.25s ease-in-out, transform 0.85s ease-in-out 1.05s, opacity 0.7s ease-in-out 1.2s;
    transition: color 0.25s ease-in-out, transform 0.85s ease-in-out 1.05s, opacity 0.7s ease-in-out 1.2s, -webkit-transform 0.85s ease-in-out 1.05s;
    opacity: 0; }
  .menu__links .menu__link:hover {
    color: #33323b; }

@media (max-width: 670px) {
  .menu__links {
    left: 15vw; } }

.menu__links-active {
  visibility: visible; }
  .menu__links-active #menu__link {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }

.menu__links-active-color #menu__link {
  color: #7c4dff; }

.window-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #33323b;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: opacity 1s ease-in-out, -webkit-transform 600ms ease-in-out;
  transition: opacity 1s ease-in-out, -webkit-transform 600ms ease-in-out;
  -o-transition: transform 600ms ease-in-out, opacity 1s ease-in-out;
  transition: transform 600ms ease-in-out, opacity 1s ease-in-out;
  transition: transform 600ms ease-in-out, opacity 1s ease-in-out, -webkit-transform 600ms ease-in-out;
  z-index: 100; }

.window-menu__item {
  width: 50%;
  height: 100%;
  background: #000000; }

.window-menu_active-positionY1 {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1; }

.window-menu_active-positionY2 {
  -webkit-animation: anima3 500ms ease-in-out 1;
          animation: anima3 500ms ease-in-out 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms; }

.window-menu_active-positionXY .window-menu__item:nth-child(1) {
  -webkit-animation: anima1 1.2s ease-in-out 1;
          animation: anima1 1.2s ease-in-out 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.window-menu_active-positionXY .window-menu__item:nth-child(2) {
  -webkit-animation: anima2 1.2s ease-in-out 1;
          animation: anima2 1.2s ease-in-out 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.menu-footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  width: 100vw;
  padding-bottom: 3.333em;
  -webkit-transition: color 1s ease-in-out, opacity 1s ease-in-out, visibility 1s ease-in-out;
  -o-transition: color 1s ease-in-out, opacity 1s ease-in-out, visibility 1s ease-in-out;
  transition: color 1s ease-in-out, opacity 1s ease-in-out, visibility 1s ease-in-out;
  visibility: hidden;
  opacity: 0; }
  .menu-footer .menu-footer__item {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: color 0.35s ease-in-out;
    -o-transition: color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out;
    font-size: calc( 0.00139 * 100vw + 9.33333px);
    font-family: "ProximaNova";
    font-weight: 300;
    z-index: 300; }
    @media (min-width: 1920px) {
      .menu-footer .menu-footer__item {
        font-size: 12px; } }
  .menu-footer .menu-footer__item:nth-child(1) {
    margin-left: 25vw; }
  .menu-footer .menu-footer__item:nth-child(2) {
    margin-left: 32.03125vw; }
  .menu-footer .menu-footer__item:nth-child(1):hover {
    color: #7c4dff; }
  .menu-footer .menu-footer__item span {
    font-weight: bold; }

.menu-footer_active {
  visibility: visible;
  opacity: 1; }

@media (max-width: 670px) {
  .menu-footer .menu-footer__item:nth-child(1) {
    margin-left: 15vw; } }

@-webkit-keyframes anima1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }
  80% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    opacity: 0; }
  90% {
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%); }
  100% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%); } }

@keyframes anima1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }
  80% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    opacity: 0; }
  90% {
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%); }
  100% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%); } }

@-webkit-keyframes anima2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }
  80% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
    opacity: 0; }
  90% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%); }
  100% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%); } }

@keyframes anima2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }
  80% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
    opacity: 0; }
  90% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%); }
  100% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%); } }

@-webkit-keyframes anima3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

@keyframes anima3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

