.header
    .logo-conteiner
        .logo
            img.logo__img(src="./image/Logo.png")      
    .header-link
        a(href="#").header-link__text Личный кабинет ЦТО
    button.burger-button
        .burger(class="burger-hover")
            span.burger__line(style={ top:"50%", opacity: "0" }) 
            span.burger__line(style={ top:"50%", opacity: "0" }) 
            span.burger__line(style={ top:"50%", opacity: "0" }) 