.footer
    .footer-column
        .footer-contact
            .footer-contact__text тех.поддержка
            .footer-contact__number 8 800 200 39 58
        .footer-links
            +arrow-link('footer-link', 'Кассовое оборудование', '#')
            +arrow-link('footer-link', 'ОФД', '#')
            +arrow-link('footer-link', 'ЭЦП', '#')
    .footer-column
        .footer-contact
            .footer-contact__text отдел продаж
            .footer-contact__number 8 903 666 60 69
        .footer-links
            +arrow-link('footer-link', 'Компания', '#')
            +arrow-link('footer-link', 'База знаний', '#')
            +arrow-link('footer-link', 'Для ЦПО', '#')
            +arrow-link('footer-link', 'Контакты', '#')
    .footer-column
        .footer-contact
            .footer-contact__text Электронная почта
            .footer-contact__email tdkkt@mail.ru
            .footer-contact__email tdkktopt@gmail.com
        .footer-companies
            | © пионер инжиниринг, 2017 <br><br><br>
            +Only('')

