.footer {
    padding: floatingSize(60, vw) floatingSize(480, vw);
    display: flex;

    @media (max-width: 1200px) {
        padding: floatingSize(60, vw) floatingSize(400, vw);
        justify-content: space-between;
    }

    @media (max-width: 920px) {
        padding: floatingSize(60, vw) floatingSize(300, vw);
    }

    @media (max-width: 700px) {
        flex-direction: column;
        align-items: center;
        padding: floatingSize(60, vw) floatingSize(300, vw);
    
        .footer-column:nth-child(1),
        .footer-column:nth-child(2),
        .footer-column:nth-child(3) {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    
        .footer-column:not(:last-child) {
            margin-bottom: 20px;
        }
    
        .footer-column:nth-child(1) {
            .footer-links {
                min-width: 200px;
                transform: translateX(35px);
            }
        }
    
        .footer-column:nth-child(2) {
            .footer-links {
                transform: translateX(-45px);
                min-width: 120px;
            }
        }
    }

    @media (max-width: 500px) {
        padding: floatingSize(60, vw) floatingSize(150, vw);
    }

}

.footer-column:not(:last-child) {
    width: floatingSize(360, vw);
}



.footer-contact {
    margin-bottom: floatingSize(60, vw);   
    font-family: 'ProximaNova';

    &__text {
        @include fluidFontSize(10px, 12px, 480, 1920);
        font-weight: 700;
        color: $color-4;
        text-transform: uppercase;
        margin-bottom: floatingSize(30, vw);
    }

    &__number {
        font-weight: 800;
        color: $color-black;
        @include fluidFontSize(18px, 22px, 480, 1920);

    }

}

.footer-links {
    
    .footer-link:not(:last-child) {
        margin-bottom: floatingSize(30, vw);
    }

    .footer-link {
        font-weight: 500;
        @include colorArrowLink($color-black);
        
    }

    @include animaArrowLink($color-4);

}

.footer-contact {

    &__email {
        @include fluidFontSize(10px, 12px, 480, 1920);
        font-weight: 700;
        font-family: 'ProximaNova';
        color: $color-black;
        text-transform: uppercase;
        line-height: 150%;
    }

}

.footer-companies {
    transform: translateY(-10px);
    @include fluidFontSize(10px, 12px, 480, 1920);
    font-weight: 300;
    font-family: 'ProximaNova';
    color: $color-6;
    text-transform: uppercase;

    @media (max-width: 700px) {
        transform: translateY(0) translateX(-15px);
    }

    a {
        color: $color-6;
        text-decoration: none;

        span {
            font-weight: 700;
        }

    }
}