.arrow-link {
    font-family: 'ProximaNova';
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-decoration: none;

    &__arrow {
        width: 0px;
        height: 1px;
        position: relative;
        transition: width 0.4s ease-in-out, background 0.4s ease-in-out, margin-right 0.4s ease-in-out; 
    }

    &__arrow::after,
    &__arrow::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 0px;
        transition: width 0.2s ease-in-out, background 0.4s ease-in-out;
    }

    &__arrow::after {
        transform: rotate(45deg);
        top: -3;
        right: 0;
    }

    &__arrow::before {
        transform: rotate(-45deg);
        top: 3;
        right: 0;
    }

    &__text {
        transition: color 0.4s ease-in-out;
    }
    
}

